{% extends "base.html" %}

{% block content %}

<h1 class="text-center alert alert-info">Show Student Information</h1>
<div class="container">
    <div class="row">
        <div class="col-10 mx-auto alert alert-success">
          <table class="table">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Message</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for student in stud %}
                <tr>
                    <td>{{ student.full_name }}</td>
                    <td>{{ student.age }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.message }}</td>
                    <td>
                        <button class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i>Edit</button>
                        <a href="{% url 'delete_data' student.id  %}"><button class="btn btn-danger"><i class="fa-solid fa-trash"></i>Delete</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock content %}
  
