{% extends "base.html" %}

{% block content %}

<h1 class="text-center alert alert-info">Show Student Information</h1>
<div class="container">
    <div class="row">
        <div class="col-10 mx-auto alert alert-success">
          <table class="table">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for student in stud %}
                <tr>
                    <td>{{ student.full_name }}</td>
                    <td>{{ student.age }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.message }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock content %}
  
